<!DOCTYPE html>
<html lang="">
  <head>
    <title>Portafolio de Angel León</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
     <!--etiquetetas para links--->
    <meta property="og:site_name" content="Angel León">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Portafolio de Angel León">
    <meta property="og:description" content="Portafolio de Angel León en GitHub Pages">
    <meta property="og:image" content="<%= BASE_URL %>landed/images/picture2.png">
    <meta property="og:image:width" content="50">
    <meta property="og:image:height" content="50">
    <meta property="og:url" content="https://angelion1811.github.io/portafolio/">
    <!--fin de etiquetas-->
    <link rel="stylesheet" href="<%= BASE_URL %>landed/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="<%= BASE_URL %>landed/assets/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload landing">
    <div id="app">
      
    </div>
    <!-- built files will be auto injected -->
    <script src="<%= BASE_URL %>landed/assets/js/jquery.min.js"></script>
    <script src="<%= BASE_URL %>landed/assets/js/jquery.scrolly.min.js"></script>
    <script src="<%= BASE_URL %>landed/assets/js/jquery.dropotron.min.js"></script>
    <script src="<%= BASE_URL %>landed/assets/js/jquery.scrollex.min.js"></script>
    <script src="<%= BASE_URL %>landed/assets/js/browser.min.js"></script>
    <script src="<%= BASE_URL %>landed/assets/js/breakpoints.min.js"></script>
    <script src="<%= BASE_URL %>landed/assets/js/util.js"></script>
    <script src="<%= BASE_URL %>landed/assets/js/main.js"></script>
  </body>
</html>
